/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* CSS variables */
:root {
  --primary-font: "Chivo", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --primary-color: #603821;
  --secondary-color: #f5a26c;
  --highlight-color: #d36c8b;
  --highlight-color-light: #fbe2a4;
}

/* Global styles */
body {
  font-family: var(--primary-font);
  padding-top: 57.64px; /* pushes the top of the header down under fixed navbar*/
}


/* Navbar */
#navbar{
    background-color: var(--primary-color);
}

#dropdown{
    background-color: var(--primary-color);
}

/* Footer / Follow us */
#follow {
  background-color: var(--primary-color);
  color: white;
  padding-bottom: 3rem;
}